{template 'header'}
<link rel="stylesheet" type="text/css" href="../addons/ur_survey/template/mobile/css/flat-ui.min.css" media="all">
<link rel="stylesheet" type="text/css" href="../addons/ur_survey/template/mobile/common.css" media="all">
<link rel="stylesheet" type="text/css" href="../addons/ur_survey/template/mobile/css/bootstrap-table.css" media="all">
<link rel="stylesheet" type="text/css" href="../addons/ur_survey/template/mobile/survey.css" media="all">
<div style="height: 25px;"></div>
<div class="content-w1 survey-title">
	<div class="content-w2">
		<div class="content">
			<h3 class="title">{$activity['title']}</h3>
			<img class="connect" src="../addons/ur_survey/template/mobile/connect.png">
			<div class="desc-cont">
				{$activity['content']}
				{if $pererror == "1"}<div style="margin-top:20px; color:red;">抱歉，您已经提交过该调研，请下次再来哦！ ^_^</div>{/if}
				{if $pererror == "2"}<div style="margin-top:20px; color:red;">抱歉，您当月已经提交过该调研，请下个月再来哦！ ^_^</div>{/if}
			</div>
			{if $pererror == "0"}<!-- 提交调研超过设定的次数，不显示按钮 -->
			<a class="next-btn start-btn" href="javascript:void(0)" style="text-decoration:none;">马上开始</a>
			{/if}
		</div>
	</div>
</div>
<form action="" method="post" id="form">
	<div class="question" style="overflow:hidden;">
	{if $userinfo=='0'}
		<div class="xuan">
			<div class="inner-cont">
				<div class="qtitle">请先填写您的资料：</div>
	
				<div class="field-contain">
					<label for="username" class="input-label">请输入您的名称:</label>
							<input type="text" name="username" id="username" class="input-text" value="{$user['realname']}">
				</div>
				<div class="field-contain">
					<label for="phone" class="input-label">请输入您的手机号码:</label>
							<input type="tel" name="telephone" id="phone" class="input-text" value="{$user['mobile']}">
					<span class="tip" style="margin-left:0">*请务必填写正确，此信息将作为您以后领奖的依据</span>
				</div>
				<div class="btn-wrapper">
					<input  type="button" id="save-btn" class="next-btn start-btn" style="width:100px" value="开始">
				</div>
			</div>
		</div>
	{/if}
	{if $activity['activity_store']=='1'}
		<div class="xuan">
			<div class="content stores">
        <h4 class="title">请选择您所光临的门店</h4>

        <div class="field-contain">
          {php echo tpl_fans_form('reside');}
        </div>
        <div class="field-contain">
          <table id="stores"></table>
          <input type="hidden" name="store">
        </div>
        <div class="btn-wrapper">
          <input type="button" class="submit next-btn" value="下一步">
        </div>
			</div>
		</div>
	{/if}
	{loop $ds $key $row}
		{if $row['type']=="radio" || $row['type']=="checkbox"}
			<div class="xuan">      
        <div class="content">
          <h4 class="title">{$row['title']}</h4>
          <div class="tip">{if $row['type']=="radio"}注：本题最多能选择1个答案！{elseif $row['type']=="checkbox"}注：本题可选择多个答案！{/if}</div>
          <div class="options"{if $row['type']=="radio"}title="1"{elseif $row['type']=="checkbox"}title="2"{/if} >
            {loop $row['options'] $v}
              <label class="option">
                <input type="{$row['type']}" name="field_{$row['sfid']}" id="hidden_{$key}" value="{$v}">
			    <span data-value="{$v}" data-type="{$row['type']}">
				  {php echo preg_replace('/\[_\]/', '<input type="text" class="text">', $v);}
			    </span>
			  </label>
            {/loop}
          </div>
          <div class="tip" style="padding-right:20px">说明：{$row['description']}</div>
          <div class="submit" {if $row['type']=="radio"}title="1"{elseif $row['type']=="checkbox"}title="100"{/if}>
            <img src="../addons/ur_survey/template/mobile/next_btn.png">
            <span>下一步</span>
          </div>   
        </div>
			</div>
		{else}
			<div class="content-w1 xuan">
				<div class="content-w2">
					<div class="content">
						<h4 class="title" style="font-size:16px;font-weight:bold">{$row['title']}</h4>
						<img class="connect" src="../addons/ur_survey/template/mobile//connect.png">
						<div class="desc-cont">
							<textarea  class="form-control" name="field_{$row['sfid']}" rows="5" style="color:#ccc;border:1px solid #ccc;width:100%"></textarea>
						</div>
						<input type="button" class="next-btn next-step" value="下一步">
					</div>
				</div>
			</div>
		{/if}
	{/loop}

	{if $activity['suggest_status']=="1"}		
		<div class="content-w1 xuan">
			<div class="content-w2">
				<div class="content">
					<h3 class="title" style="font-size:16px;font-weight:bold;color:#000;">意见和建议</h3>
					<img class="connect" src="../addons/ur_survey/template/mobile//connect.png">
					<div class="desc-cont">
						<textarea id="suggest" name="suggest" rows="5" style="color:#ccc;border:1px solid #ccc;width:100%">有什么建议给我们？</textarea>
					</div>
					<div>感谢您的参与</div>
						<input type="hidden" name="token" value="{$_W['token']}" />
						<input type="submit" class="next-btn" id="finish" value="立即提交" name="submit">		
				</div>
			</div>
		</div>
	{else}
		<div class="content-w1 xuan">
			<div class="content-w2">
				<div class="content">
					<h3 class="title" style="font-size:16px;font-weight:bold"></h3>
					<img class="connect" src="../addons/ur_survey/template/mobile//connect.png">	
					<div>感谢您的参与</div>
						<input type="hidden" name="token" value="{$_W['token']}" />
						<input type="submit" class="next-btn" id="finish" value="立即提交" name="submit">
				</div>
			</div>
		</div>
	{/if}
</div>
</form>
<audio id="musicClick" src="../addons/ur_survey/template/mobile/click.mp3" preload="auto"></audio>

<script src="../addons/ur_survey/template/mobile/js/flat-ui.min.js"></script>
<script src="../addons/ur_survey/template/mobile/js/bootstrap-table.js"></script>
<script>
$(function(){
	$('.option :radio, .option :checkbox').radiocheck();
	$(".content-w1,.question").hide();
	$(".content-w1").css("display", "inline-block");
	$(".xuan").hide();
	
	$(".start-btn").click(function(){
		$(".survey-title,.question").hide();
		$(".question").show();	
	});
	
	$(".xuan:first").show();

	var getInputText = function ($text) {
		var value = $text.data('value');
		$text.find('input').each(function () {
			value = value.replace(/\[_\]/, $(this).val());
		});
		return value;
	};
	$(".option").on("click",function(e){
		if ($(e.target).hasClass('text')) {
			return;
		}
		$("#musicClick")[0].play();
	});
	$("input.text").on("change", function () {
		$(this).closest('.option').find('>input').val(getInputText($(this).parent()));
	});
	
	$(".submit").click(function(){
		var $parent = $(this).closest(".xuan");
		var maxsel = $(this).attr("title");
		var $btn = $(this);
		if ($btn.hasClass("disabled")) return;

		if ($('#stores').is(':visible')) {
			if (!$('#stores').bootstrapTable('getSelections').length) {
				alert('请选择一个门店！');
				return;
			}
		} else {
			var answers = [];
			var checkInput = true;
			$parent.find('.option>input:checked').each(function () {
				answers.push($(this).val());
				$(this).parent().find('input.text').each(function () {
					checkInput = checkInput && $.trim($(this).val()) !== '';
				});
			});
			if (answers.length === 0) {
				alert("请选择一个答案!");
				return;
			}
			if (answers.length > maxsel) {
				alert("本题最多只能选择个" + maxsel + "答案!");
				return;
			}
			if(!checkInput) {
				alert("选项内容不能为空!");
				return;
			}
		}

		$(".xuan").hide();
		$parent.next().show();
	});
	
	$("#suggest").focus(function(){
		$(this).val("");	
	});
	$("#suggest").blur(function(){
		var val=$(this).val();	
		if(val=="有什么建议给我们？" || val==""){
			$(this).val("有什么建议给我们？");
		}
	});
	
	$(".next-step").click(function(){
		var parent=$(this).parent().parent().parent();
		$(".xuan").hide();
		parent.next().show();
	});
	
	$("#save-btn").on("click",function(){
		var $username = $("#username");
		var username = $username.val();
		var $phone = $("#phone");
		var phone = $phone.val();
		if(username == ""){
			alert("请输入用户名!");
			$username.focus();
			return false;
		}
		if(phone == ""){
			alert("请输入手机号码!");
			$phone.focus();
			return false;
		}
		var regu =/^[0-9]{11}$/;
		var re = new RegExp(regu);
		if(!re.test(phone)){
			alert("请输入正确的手机号码!");
			$phone.focus();
			return false;
		}
		var parent=$(this).parent().parent().parent();
		$(".xuan").hide();
		parent.next().show();
	});
	
	$("#finish").click(function(){
		var $form = $('#form');
		$form.find('.options').each(function () {
			var $checkboxs = $(this).find(':checkbox:checked');
			if ($checkboxs.length) {
				var values = [];
				$checkboxs.each(function () {
					values.push($(this).val());
				});
				$checkboxs.last().val(values.join('||'));
			}
		});
		$form.submit().reset();
	});
});
//调整高度
$(function() {
	$(".main").height($(window).height());

	var stores = {php echo json_encode($stores)},
		$store = $('#stores'),
		$province = $('[name="reside[province]"]'),
		$city = $('[name="reside[city]"]');

	$store.bootstrapTable({
		classes: 'table table-hover table-no-bordered',
		height: 300,
		showHeader: false,
		clickToSelect: true,
		columns: [{
			radio: true,
			field: 'state'
		}, {
			title: 'Business Name',
			field: 'business_name'
		}],
		formatNoMatches: function () {
			return '没有找到相应的门店';
		},
		onCheck: function (row) {
			$("#musicClick")[0].play();
			$('[name="store"]').val(row.business_name);
		}
	});
	$city.change(function () {
		var data = $.grep(stores, function (store) {
			return ($province.val() === '' || store.province === $province.val()) &&
					($city.val() === '' || store.city === $city.val());
		});
		$store.bootstrapTable('load', data);
	});
});
$(window).resize(function(){
	$(".main").height($(window).height());
});
</script>
{template 'footer'}
