{template 'header'}
<link rel="stylesheet" href="../addons/ur_survey/template/mobile/assets/base.css">
<link rel="stylesheet" href="../addons/ur_survey/template/mobile/assets/bootstrap-table.css">
<link rel="stylesheet" href="../addons/ur_survey/template/mobile/assets/awesome-bootstrap-checkbox.css">
<link rel="stylesheet" href="../addons/ur_survey/template/mobile/survey.css?v=1.0.1">

<form class="content ur_survey" action="" method="post" id="form">
	<div class="page active">
		<h3>{$activity['title']}</h3>
		<p>尊贵的{$user['realname']}会员：</p>
		{if $pererror == "1"}
		<p class="error">您已经参与过该调研，请下次再来哦！ ^_^</p>
		{else if $pererror == "2"}
		<p class="error">抱歉，您当月已经提交过该调研，请下个月再来哦！ ^_^</p>
		{else}
		<div>{$activity['content']}</div>
		<p class="next-page tc mt50">向右滑动开始问卷 >>>></p>
		{/if}
	</div>
	{if $userinfo=='0'}
	<div class="page" data-check="user">
		<h3>请先填写您的资料：</h3>
		<div class="form-group">
			<label for="username">请输入您的名称:</label>
			<input type="text" name="username" id="username" class="form-control" value="{$user['realname']}">
		</div>
		<div class="form-group">
			<label for="phone">请输入您的手机号码:</label>
			<input type="tel" name="telephone" id="phone" class="form-control" value="{$user['mobile']}">
			<div class="tip">*请务必填写正确，此信息将作为您以后领奖的依据</div>
		</div>
		<p class="next-page tc mt50">向右滑动开始问卷 >>>></p>
	</div>
	{/if}
	{if $activity['activity_store']=='1'}
	<div class="page">
		<div class="title"><span>01</span>请选择您所惠临的店铺</div>
		<div>{php echo tpl_fans_form('reside');}</div>
		<table id="stores"></table>
		<input type="hidden" name="store">
		<p class="next-page tc mt50">下一步 >>>></p>
	</div>
	{/if}
	{php $count = 1;}
	{loop $ds $key $row}
	{php $count++;}
	<div class="page" data-check="option" data-type="{$row['type']}">
		<div class="title"><span>{php echo $count < 10 ? '0' . $count : $count;}</span>{$row['title']}</div>
		{php $i = 0;}
		{loop $row['options'] $v}
		<div class="option {$row['type']}">
			<input type="{$row['type']}" name="field_{$row['sfid']}" id="id_{$key}_{$i}" value="{$v}">
			<label data-value="{$v}" for="id_{$key}_{$i}">
				{php echo preg_replace('/\[_\]/', '<input type="text" class="text">', $v);}
			</label>
		</div>
		{php $i++;}
		{/loop}
		<p class="next-page tc mt50">下一步 >>>></p>
	</div>
	{/loop}
	<div class="page">
		<h3 class="tc">THANK YOU</h3>
		<p class="tc">感谢您完成本次问卷</p>
		<input type="hidden" name="token" value="{$_W['token']}" />
		<p class="tc mt50">
			<button type="submit" name="submit" value="立即提交" class="submit btn btn-success">提交问卷</button>
		</p>
	</div>
</form>
<!--<audio id="musicClick" src="../addons/ur_survey/template/mobile/click.mp3" preload="auto"></audio>-->

<script src="../addons/ur_survey/template/mobile/assets/fastclick.js"></script>
<script src="../addons/ur_survey/template/mobile/assets/bootstrap-table.js"></script>
<script src="../addons/ur_survey/template/mobile/survey.js"></script>
<script>
	$(function () {
		Helpers.swipeDetect($('.content'), function (swipeDir) {
			if (swipeDir === 'left') {
				checkNext();
			} else if (swipeDir === 'right') {
				Helpers.prevPage();
			}
		});

		$('.next-page').click(checkNext);

		function checkNext() {
			Helpers.checkPage({
				user: function () {
					var $username = $('#username'),
						$phone = $('#phone');
					if (!$.trim($username.val())) {
						alert('请输入您的名称!');
						$username.focus();
						return false;
					}
					if (!$.trim($phone.val())) {
						alert('请输入您的手机号码!');
						$phone.focus();
						return false;
					}
					if (!/^[0-9]{11}$/.test($phone.val())) {
						alert('请输入正确的手机号码!');
						$phone.focus();
						return false;
					}
					return true;
				},
				option: function ($page) {
					var $selects = $page.find(':' + $page.data('type') + ':checked'),
						checkInput = true;

					if (!$selects.length) {
						alert('请选择一个答案!');
						return false;
					}
					$selects.each(function () {
						$(this).parent().find('input.text').each(function () {
							checkInput = checkInput && $.trim($(this).val()) !== '';
						});
					});
					if(!checkInput) {
						alert("选项内容不能为空!");
						return false;
					}
					return true;
				}
			});
		}

		function initStores() {
			var stores = {php echo json_encode($stores)},
					$store = $('#stores'),
					$province = $('[name="reside[province]"]'),
					$city = $('[name="reside[city]"]');

			$store.bootstrapTable({
				classes: 'table table-hover table-no-bordered',
				height: 187,
				showHeader: false,
				clickToSelect: true,
				columns: [{
					radio: true,
					field: 'state'
				}, {
					title: 'Business Name',
					field: 'business_name'
				}],
				formatNoMatches: function () {
					return '没有找到相应的门店';
				},
				onCheck: function (row) {
					$('[name="store"]').val(row.business_name);
//					$("#musicClick")[0].play();
				}
			});
			$city.change(function () {
				var data = $.grep(stores, function (store) {
					return store.province === $province.val() &&
							(store.city === $city.val() || $city.val() === '');
				});
				$store.bootstrapTable('load', data);
			});
		}

		initStores();

		function getInputText($text) {
			var value = $text.data('value');
			$text.find('input').each(function () {
				value = value.replace(/\[_\]/, $(this).val());
			});
			return value;
		}

		$('input.text').on('change', function () {
			$(this).closest('.option').find('>input').val(getInputText($(this).parent()));
		});

		$('.submit').click(function(){
			var $form = $('#form');
			$form.find('.page').each(function () {
				var $checkboxs = $(this).find(':checkbox:checked');
				if ($checkboxs.length) {
					var values = [];
					$checkboxs.each(function () {
						values.push($(this).val());
					});
					$checkboxs.last().val(values.join('||'));
				}
			});
			$form.submit();
		});
	});
</script>
{template 'footer'}
