{template 'header'}
<link rel="stylesheet" href="../addons/ur_survey/template/mobile/assets/base.css">
<link rel="stylesheet" href="../addons/ur_survey/template/mobile/assets/jquery.fullpage.min.css">
<link rel="stylesheet" href="../addons/ur_survey/template/mobile/assets/bootstrap-table.css">
<link rel="stylesheet" href="../addons/ur_survey/template/mobile/assets/awesome-bootstrap-checkbox.css">
<link rel="stylesheet" href="../addons/ur_survey/template/mobile/survey.css?v={php echo time();}">

{php $_share['title'] = '我参加了UR问卷调研，获得了' . $activity['credit'] . '积分';}
{php $_share['desc'] = 'UR消费者调研问卷 - ' . $_W['account']['name'];}
<div class="loading tc">加载中...</div>
<form class="content ur_survey" action="" method="post" id="fullpage">
	<div class="section">
		<div class="slide landing">
			<img class="next-page" src="../addons/ur_survey/template/mobile/bg_landing.jpg"></img>
			<!-- 箭头指示引导 -->
			<div class='u-arrow'>
				<p class="next-page">进入 <em>>></em>&nbsp;&nbsp;</p>
			</div>
			<!-- 箭头指示引导 end-->
		</div>
		<div class="slide">
            <div class="fp-content">
				<h3 class="title hidden">{$activity['title']}</h3>
				<p>{if !$reregister}尊贵的 {$user['realname']} 会员：{/if}</p>
				{if $pererror == "1"}
				<p class="error">您已经参与过该调研，请下次再来哦！ ^_^</p>
				{else if $pererror == "2"}
				<p class="error">抱歉，您当月已经提交过该调研，请下个月再来哦！ ^_^</p>
				{else}
				<div>{$activity['content']}</div>
				<div>
					{if !$reregister}
					<p>完成问卷即可获赠&nbsp;<em-tip> {$activity['credit']}会员积分，</em-tip></p>
					{else}
					<p>完成问卷，注册会员即可获赠 <em-tip> {$activity['credit']}会员积分，</em-tip></p>
					{/if}
					<p>谢谢！</p>
				</div>
				{/if}
			</div>
			<!-- 箭头指示引导 -->
			<div class='u-arrow'>
				<p class="next-page">往右滑动开始问卷 <em>>></em></p>
			</div>
			<!-- 箭头指示引导 end-->
		</div>
		{if $userinfo=='0'}
		<div class="slide" data-check="user">
			<div class="fp-content">
				<h3 class="title title-user">请先填写您的资料：</h3>
				<div class="form-group">
					<label for="username">请输入您的名称:</label>
					<input type="text" name="username" id="username" class="form-control" value="{$user['realname']}">
				</div>
				<div class="form-group">
					<label for="phone">请输入您的手机号码:</label>
					<input type="tel" name="telephone" id="phone" class="form-control" value="{$user['mobile']}">
					<div class="tip">*请务必填写正确，此信息将作为您以后领奖的依据</div>
				</div>
				<!-- 箭头指示引导 -->
				<div class='u-arrow'>
					<p class="next-page">下一步 <em>>></em><</p>
				</div>
				<!-- 箭头指示引导 end-->
			</div>
		</div>
		{/if}
		{if $activity['activity_store']=='1'}
		<div class="slide has-title" data-check="store">
			<div class="fp-content">
				<table class="title">
					<tr>
						<td width="20%"><span>01</span></td>
						<td>请选择您所惠临的店</td>
					</tr>
				</table>
				<div>{php echo tpl_fans_form('reside');}</div>
				<table id="stores"></table>
				<input type="hidden" name="store">
			</div>
			<!-- 箭头指示引导 -->
			<div class='u-arrow'>
				<p class="next-page">下一步 <em>>></em></p>
			</div>
			<!-- 箭头指示引导 end-->
		</div>
		{/if}
		{php $count = 1;}
		{loop $ds $key $row}
		{php $count++;}
		<div class="slide has-title" data-check="option" data-type="{$row['type']}">
			<div class="scroll">
			<div class="fp-content">
				<table class="title">
					<tr>
						<td width="20%"><span>{php echo $count < 10 ? '0' . $count : $count;}</span></td>
						<td>{$row['title']}</td>
					</tr>
				</table>
				{php $i = 0;}
				<div class="row">
				{loop $row['options'] $v}
					<div class="col-xs-{php echo $count == 13 ? '12': '12';} option {$row['type']}">
						<input type="{$row['type']}" name="field_{$row['sfid']}" id="id_{$key}_{$i}" value="{$v}">
						<label data-value="{$v}" for="id_{$key}_{$i}">
							{php echo preg_replace('/\[_\]/', '<input type="text" class="text">', $v);}
						</label>
					</div>
				{php $i++;}
				{/loop}
				</div>
			</div>
			</div>
			<!-- 箭头指示引导 -->
			<div class='u-arrow'>
				<p class="next-page">
					{if $count == $dscount+1 }
					完成问卷 <em>>></em>
					{else}
					下一步 <em>>></em>
					{/if}
				</p>
			</div>
			<!-- 箭头指示引导 end-->
		</div>
		{/loop}
		{if !$reregister}
		<div class="slide tc">
            <div class="fp-content lastpage">
                <h3>THANK YOU</h3>
                <p>尊贵的 {$user['realname']} 会员</p>
                <p><small>感谢您完成本次问卷，点击下方“领取积分”按钮，</small></p>
                <p class="f16">即可获 {$activity['credit']} 会员积分！</p>
                <input type="hidden" name="token" value="{$_W['token']}" />
                <p class="tc mt50">
                    <button type="submit" name="submit" value="立即提交" class="submit btn btn-success">
                        领取积分
                    </button>
                </p>
            </div>
		</div>
		{else}
        <div class="slide tc">
            <div class="fp-content lastpage">
                <h3>THANK YOU</h3>
                <p><small>感谢您完成本次问卷，点击下方“注册会员”按钮，</small></p>
				<p class="f16">即可获 {$activity['credit']} 会员积分！</p>
                <input type="hidden" name="token" value="{$_W['token']}" />
                <p class="tc mt50">
                    <button type="submit" name="submit" value="立即提交" class="submit btn btn-success">
                        <small>注册会员</small><br>
                    </button>
                </p>
		    </div>
        </div>
		{/if}
	</div>
</form>
<!--<audio id="musicClick" src="../addons/ur_survey/template/mobile/click.mp3" preload="auto"></audio>-->
<script src="../addons/ur_survey/template/mobile/assets/jquery.fullpage.min.js"></script>
<script src="../addons/ur_survey/template/mobile/assets/bootstrap-table.js"></script>
<script src="../addons/ur_survey/template/mobile/assets/fastclick.js"></script>
<script>

	$(function () {
		FastClick.attach(document.body);

		$('#fullpage').show().fullpage({
			controlArrows: false,
			loopHorizontal: false,
            resize: false,
			scrollingSpeed: 300,
			//slidesNavigation: true, //调试时用方便
			normalScrollElements: '.scroll,.fixed-table-body',
			onSlideLeave: function (anchorLink, index, slideIndex, direction) {
				if (direction === 'right') {
					return checkNext();
				}
			}
		});
		$('.loading').hide();
		setTimeout(function(){$('.landing').addClass('sectionEnter');},100);

		$('.next-page').click(function () {
			if (checkNext()) {
				$.fn.fullpage.moveSlideRight();
			}
		});

		function checkNext() {
			var check = {
				user: function () {
					var $username = $('#username'),
							$phone = $('#phone');
					if (!$.trim($username.val())) {
						alert('请输入您的名称!');
						$username.focus();
						return false;
					}
					if (!$.trim($phone.val())) {
						alert('请输入您的手机号码!');
						$phone.focus();
						return false;
					}
					if (!/^[0-9]{11}$/.test($phone.val())) {
						alert('请输入正确的手机号码!');
						$phone.focus();
						return false;
					}
					return true;
				},
				store: function () {
					if (!$('#stores').bootstrapTable('getSelections').length) {
						alert('请选择一个店铺！');
						return false;
					}
					return true;
				},
				option: function ($slide) {
					var $selects = $slide.find(':' + $slide.data('type') + ':checked'),
							checkInput = true;

					if (!$selects.length) {
						alert('请选择一个答案!');
						return false;
					}
					$selects.each(function () {
						$(this).parent().find('input.text').each(function () {
							checkInput = checkInput && $.trim($(this).val()) !== '';
						});
					});
					if(!checkInput) {
						alert("选项内容不能为空!");
						return false;
					}
					return true;
				}
			};
			var $slide = $('.slide').filter('.active');
			if (!$slide.data('check') || check[$slide.data('check')]($slide)) {
				return true;
			}
			return false;
		}

		function initStores() {
			var stores = {php echo json_encode($stores)},
					$store = $('#stores'),
					$province = $('[name="reside[province]"]'),
					$city = $('[name="reside[city]"]');

			$store.bootstrapTable({
				classes: 'table table-hover table-no-bordered',
				height: 187,
				showHeader: false,
				clickToSelect: true,
				columns: [{
					radio: true,
					field: 'state',
					'class': 'needsclick'
				}, {
					title: 'Business Name',
					field: 'business_name',
					'class': 'needsclick'
				}],
				formatNoMatches: function () {
					return '没有找到相应的门店';
				},
				onCheck: function (row) {
					$('[name="store"]').val(row.business_name);
//					$("#musicClick")[0].play();
				}
			});
			$city.change(function () {
				var data = $.grep(stores, function (store) {
					return store.province === $province.val() &&
							(store.city === $city.val() || $city.val() === '');
				});
				$store.bootstrapTable('load', data);
			});
		}

		initStores();

		function getInputText($text) {
			var value = $text.data('value');
			$text.find('input').each(function () {
				value = value.replace(/\[_\]/, $(this).val());
			});
			return value;
		}

		$('input.text').on('change', function () {
			$(this).closest('.option').find('>input').val(getInputText($(this).parent()));
		});

		$(window).keydown(function(event) {
			if (event.keyCode === 13) {
				event.preventDefault();
				return false;
			}
		});

		$('.submit').click(function () {
			var $form = $('#fullpage');
			$form.find('.page').each(function () {
				var $checkboxs = $(this).find(':checkbox:checked');
				if ($checkboxs.length) {
					var values = [];
					$checkboxs.each(function () {
						values.push($(this).val());
					});
					$checkboxs.last().val(values.join('||'));
				}
			});
			$form.submit();
		});
	});
</script>
{template 'footer'}
