@charset "utf-8";
/* CSS Document */
a	{
    color: #af9433;
  }
.btn-group-top-box{padding:10px 0; border-bottom:1px solid #af9433;}
.btn-group-top .btn.active  {
    background: #af9433;
    color: #FFFFFF;
}
.btn-group-top .btn {
    border-color: #af9433;
    color: #af9433;
    background: #FFFFFF;
}
.card-img   {
    border-bottom:1px solid #af9433;
}
.card-card-barcode img  {
    width: 80%;
    padding-left: 10%;
    height:40px;
}
.card-card-qrcode img  {
    width: 200px;
    height:200px;
    left: 60px;
}

.modal-code .bar img {
    width: 100%;
    height: 86px;
    min-height: 86px;
}
.modal-code .qr img {
    width: 100%;
}
/*个人中心*/
.pcenter-main .head{
    position:relative;
    width:100%;
}
.pcenter-main .head .plogo{
    position: relative;
    height: 220px;
    background:url('../images/card-img-bg.jpg') no-repeat;
    background-position: top center;
    background-size:100% 100%;
}
.pcenter-main .head .ptool{
    float:right;
    display:inline-block;
    text-decoration:none;
    height:50px;
    line-height:50px;
    width:50px;
    text-align:center;
    font-size:25px;
    color:#eeeeee;
    margin-right:5%;
    margin-top:10px;
}
.pcenter-main .head .plogo .card-logo{
    position: absolute;
    right: 40px;
    top: 85px;
}
.pcenter-main .head .plogo .card-barcode{
    position: absolute;
    left: 15%;
    bottom: 20px;
    width: 75%;
}
.pcenter-main .head .plogo .card-number{
    position: absolute;
    left: 100px;
    top: 60px;
    color: #FFFFFF;
    text-shadow: none;
    font-size: 20px;
    letter-spacing: 2px;
}
.pcenter-main .head .pdetail{
    height:85px;
    padding: 10px;
    background-color: rgb(244, 238, 207);
    -webkit-box-sizing:border-box;
}
.pcenter-main .head .pdetail .card-qrcode{
    padding-top: 14px;
}
.pcenter-main .head .pdetail .card-qrcode img{
    width: 40px;
    height: 40px;
}
.pcenter-main .head .pdetail .img-circle{float:left; width:66px; height:66px; overflow:hidden; margin-right:20px; border:1px rgba(255,255,255,0.2) solid;}
.pcenter-main .head .pdetail .img-circle img{width:66px;}
.pcenter-main .head .pdetail .pull-left span{
    display:block;
    color: rgb(102, 102, 102);
    line-height:20px;
}
.pcenter-main .head .pdetail .pull-left span.name{display:inline-block; max-width:150px; height:20px; line-height:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; word-break:keep-all;}
.pcenter-main .head .pdetail .pull-left span.type{font-size:12px;}
.pcenter-main .head .head-nav{
    height:60px; line-height:20px; padding-top:7px; background:rgb(191, 162, 59);
}
.pcenter-main .head .head-nav .head-nav-list{display:inline-block; float:left; text-decoration:none; color:#FFF;  width:50%; text-align:center; font-size:16px; background:-webkit-gradient(linear, 0 0, 0 100, from(rgba(255,255,255,0.5)), to(rgba(255,255,255,0.5)) ) no-repeat left center; -webkit-background-size:1px 75%;}
.pcenter-main .head .head-nav .head-nav-list:first-child{background:none;}
.pcenter-main .head .head-nav .head-nav-list > span{display:block; font-size:16px; color: yellow;}
/*竖排导航条 通用*/
.mnav-box ul{padding:10px 15px 0 15px;font-family:Helvetica, Arial, sans-serif;}
.mnav-box ul li{padding:10px 15px;}
.pcenter-main .profile{width:100%; background-size:cover;}
.pcenter-main .profile .tabbable>ul{padding:10px 15px 0px 15px;}
.pcenter-main .profile .tabbable .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{color:#5ac5d4;background-color:#E9F7F8;}
.pcenter-main .profile label{color:#555; font-weight:lighter; margin-top:5px;}

/*消费记录*/
.consume .record-head{width:100%; height:100px; border-bottom:1px solid #a5d7de;margin-bottom:1px;}
.consume .record-head ul{margin:0 auto; list-style:none; padding:0px; }
.consume .record-head li{height:50px; line-height:50px; background-color:#ffffff;}
.consume .record-head .date{padding:0px 5px; text-align:center; }
.consume .record-head .money{width:46%; float:left; color:#999; height:50px; padding:0 4%; line-height:50px;}
.consume .record-head .income{margin-right:20px;}
.consume .record-head .money span{color:#333;}
.consume .record-box{background:transparent url('resource/images/home-bg.jpg') no-repeat; background-size:100% 100%;}
.consume .list-item{height:70px; padding:10px 5px; border-bottom:1px solid #dddddd;}
.consume .list-item>div{float:left;}
.consume .record-box .member-detail{width:15%; text-align:center; overflow:hidden;}
.consume .record-box .member-detail .img-rounded{width:30px; height:30px; line-height:30px; overflow:hidden; margin:0 auto; text-align:center;}
.consume .record-box .member-detail .img-rounded i{font-size:20px; margin-top:4px; display:inline-block; color:#FFF;}
.consume .record-box .member-detail .img-rounded img{width:30px; height:30px;}
.consume .record-box .member-detail span{display:block; width:100%; text-align:center; overflow:hidden; text-overflow:ellipsis;  white-space:nowrap; font-size:12px; color:#999; margin-top:3px;}
.consume .record-box .record-detail{width:60%;}
.consume .record-box .record-detail > div{margin-top:4px; border-left:1px #DDD solid; padding-left:10px;}
.consume .record-box .record-detail > div span{display:block;}
.consume .record-box .record-detail > div .name{font-size:15px; width:160px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.consume .record-box .record-detail > div .date{font-size:13px; margin-top:5px; color:#999;}
.consume .record-box .pay-detail{width:23%; text-align:right; margin-right:2%;}
.consume .record-box .pay-detail > div{margin-top:4px;}
.consume .record-box .pay-detail > div span{display:block; text-align:right;}
.consume .record-box .pay-detail > div .money{font-size:15px; font-weight:bold;}
.consume .record-box .pay-detail > div .state{font-size:13px; margin-top:5px; color:#999;}
.consume .list-group-item{background-color:#e1ecee;}
/*收货地址*/
.address,.address-edit{background:#FFF; padding:10px 15px;}
.address > a{text-decoration:none; margin-bottom:5px; border-bottom:1px #DDD solid; padding-bottom:5px; display:block;}
.address > a:last-child{border-bottom:0; margin-bottom:0;}
.address div{padding:0px; margin:0px;}
@media screen and (max-width: 767px) {.tpl-calendar div,.tpl-district-container div{margin-bottom:10px;}}